ol { list-style: none; }
a { text-decoration: none; color: white;}
p {align-content:right;}
h1{align-content: center;}
body {
    text-decoration:none;color: #ece8e8;
    
   font-family: 'Dosis', sans-serif;
   background: black;


}

#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}
P{ list-style:none;color: #ece8e8;
    text-align:center;border:1px dotted #000;
     padding:8px;margin:16px 0;width:50%;border:1px ;padding:8px;margin:auto;}
     h1{ list-style:none;color: #ece8e8;}
h2{ list-style:none;color: #ece8e8;}

